# Dicas:

Para realizar esta atividade, pode ser útil pesquisar as documentações das bibliotecas necessárias:
- [Dataframes do Pandas](https://pandas.pydata.org/docs/reference/frame.html)
- [Seaborn](https://seaborn.pydata.org/api.html)

In [1]:
import pandas as pd # Pandas: biblioteca para manipular conjuntos de dados
import seaborn as sns # Seaborn: biblioteca para visualizar dados através de gráficos

In [2]:
#Importando dataset
df = pd.read_excel('Notas.xlsx')

In [3]:
df

,genero,etnia,escolaridade dos pais,almoco,simulado,nota matematica,nota literatura,nota redacao
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# 1) Qual a quantidade de linhas e colunas desse dataframe?

In [4]:
# Escreva um código aqui

# 2) Quais os tipos das váriaveis (colunas) desse dataframe?

In [5]:
# Escreva um código aqui

# 3) Há valores nulos nesse dataframe?

In [6]:
# Escreva um código aqui

# 4) Crie um novo dataframe chamado "df1", esse dataframe deve possuir somente as colunas "genero" e "almoco" do dataframe original

In [7]:
# Escreva um código aqui

# 5) Ordene o dataset de forma crescente de acordo com a nota de redação

In [8]:
# Escreva um código aqui

# 6) Qual é a maior nota em matemática?

In [9]:
# Escreva um código aqui

# 7) Qual é a menor nota em literatura?

In [10]:
# Escreva um código aqui

# 8) Qual é a soma de todas as notas em redacao?

In [11]:
# Escreva um código aqui

# 9) Qual é a nota em matemática do aluno de index 502?

In [12]:
# Escreva um código aqui

# 10) Quantos grupos étnicos existem no dataframe?

In [13]:
# Escreva um código aqui

# 11) Dentro da coluna etnia, qual é o grupo que possui a maior quantidade de pessoas?

In [14]:
# Escreva um código aqui

# 12) Qual é o index da aluna que tirou a menor nota em literatura?

In [15]:
# Escreva um código aqui

# 13) Qual é a escolaridade mais comum entre os pais dos alunos?

In [16]:
# Escreva um código aqui

# 14) Printe a correlação entre as variáveise identifique  a variável que tem a maior correlação positiva com as notas em redação

In [17]:
# Escreva um código aqui

# 15) Realize um groupby e agrupe a coluna "escolaridade dos pais". Após agrupado, verifique qual é a maior nota média em matemática dentre os grupos.

In [18]:
# Escreva um código aqui

# 16) Plote um gráfico de barras que compara a média da nota em literatura de pessoas que tem almoço standard com as que tem almoço free/reduced

In [19]:
# Escreva um código aqui

# 17) Crie uma nova coluna chamada "media geral", ela deve ser uma média das notas de matemática, literatura e redação.

In [20]:
# Escreva um código aqui

# 18) Plote um histograma com as notas da media geral

In [21]:
# Escreva um código aqui

# 19) Verifique qual é a média geral de pessoas que completaram o simulado e compare com a média geral de pessoas que não completaram o simulado.

In [22]:
# Escreva um código aqui

# 20) O diretor da escola decidiu dar 10 pontos na média geral para pessoas que completaram o simulado. Crie um código que faça essa operação de forma que nenhuma pessoa exceda os 100 pontos.

In [23]:
# Escreva um código aqui